[4:51 PM, 10/15/2022] Pushupu1: You asked for password reset for email {{ email }}.
Follow the linkbelow:
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
Your username, in case you've forgotten: {{ user.get_username }}
[4:51 PM, 10/15/2022] Pushupu1: {% load static %}
{% load crispy_forms_tags %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Reset Form </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Font Icon -->
        <link rel="stylesheet" href="{% static 'reg/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <!-- Main css -->
        <link rel="stylesheet" href="{% static 'reg/css/style.css' %}">
    </head>
<body>
<div class="main">
    <section class="signup">
    <!-- <img src="images/signup-bg.jpg" alt=""> -->
    <div class="container">
    <div class="signup-content">

{% block content %}
<h1>Forgot your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<form action="." method="POST" id="signup-form" class="signup-form">
    {{form|crispy}}
    <input type="submit" value="Send e-mail" class="btn btn-warning"></p>
    {% csrf_token %}
</form>
{% endblock %}

</div>
</div>
</section>
</div>
</body>
<style>

body {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  font-family: 'Montserrat';
  background-image: url("{% static 'images/image10.jpg' %}");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  padding: 115px 0; }

</style>
        <!-- JS -->
        <script src="{% static 'reg/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'reg/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>